body {
    background-color: aqua;
    text-align: center;
    padding: 50px 15%;
}

h1 {
    color: blue;
}

form {
    border: 3px solid white;
    border-radius: 25px;
    box-shadow: 5px 10px 18px grey;
    margin: 10%;
}

.respons {
    border: 3px solid white;
    border-radius: 25px;
    box-shadow: 5px 10px 18px grey;
    background-color: grey;
    margin: 10%;
}